<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.printxpress">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:logo="@drawable/logo"
        android:label="PrintXpress"
        android:theme="@style/Theme.PrintXpress">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".PlaceOrderActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".OperatorDashboardActivity" />
        <activity android:name=".CustomerDashboardActivity" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>